@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

.layout {
    display: grid;
    grid-template-areas: 'sidebar navigation navigation navigation'
                         'sidebar main main main'
                         'sidebar main main main'
                         'sidebar footer footer footer';
}

.sidebar {
    grid-area: 'sidebar';
}

.navigation {
    grid-area: 'navigation';
}

.main {
    grid-area: 'main';
}

.footer {
    grid-area: 'footer';
}
